{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>CSS selector</title>#}
{#</head>#}
{#<style>#}
{#    #1{color: brown}#}
{#    #2{font-size: 50px}#}
{#    #3{align:center}#}
{#    .cls1{text-decoration: underline}#}
{#    .cls2{background-family:cursive}#}
{#    .cls3{background-color: royalblue}#}
{#    h2{margin-top: -20px}#}
{#</style>#}
{##}
{#<body>#}
{#<h2 id="1" class="cls2">HTML</h2>#}
{#<h2 class="cls1 cls3">CSS</h2>#}
{#<h2 class="cls2">Bootstrap</h2>#}
{#<h2 id="2" class="cls1 cls3">JAVASCRIPT</h2>#}
{#<h2 class="cls2 cls1">Python</h2>#}
{#<h2 id="3" class="cls3">Django</h2>#}
{#</body>#}
{#</html>#}
<html>
<head>
    <title>Jumbotron</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    div{
        margin-top: 50px;
        margin-left: 200px;
        margin-right: 200px;
        text-align: center;
    }
    h1{
        font-size: 60px;
    }
</style>
<body>
<div class="jumbotron bg-success">
    <h1 class="text-white">Welcom to Django</h1>
</div>
</body>
</html>