<html>
<head>
    <title>
        Emp data
    </title>
</head>
<style>
    th,td{
        padding: 10px 20px;
        text-align: center;
        border-radius: 50%;
    }
    table{
        border:3px;
        margin-top: -30px;
    }
    h2{
        font-size: 50px;
        border: 3px royalblue solid;
        margin-right: 350px;
        margin-left: 350px;
        margin-top: 30px;
        border-radius: 50px;
        background: goldenrod;
    }
    body{
        border: 2px blue dot-dash;
        border-radius: 20%;
    }
</style>
<body>
<center>
    <h2>Employee</h2>
    <table border="2">
        <thead>
        <tr>
            <th bgcolor="red">Eno</th>
            <th bgcolor="yellow">Ename</th>
            <th bgcolor="#8a2be2">Salary</th>
            <th bgcolor="aqua">Location</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td bgcolor="red">1</td>
            <td bgcolor="yellow">Sk</td>
            <td bgcolor="#8a2be2">50000</td>
            <td bgcolor="aqua">bangalore</td>
        </tr>
        <tr>
            <td bgcolor="red">2</td>
            <td bgcolor="yellow">pk</td>
            <td bgcolor="#8a2be2">60000</td>
            <td bgcolor="aqua">hyderbad</td>
        </tr>
        <tr>
            <td bgcolor="red">3</td>
            <td bgcolor="yellow">Mk</td>
            <td bgcolor="#8a2be2">55000</td>
            <td bgcolor="aqua">chennai</td>
        </tr>
        </tbody>
    </table>
</center>

</body>
</html>