<html>
<head>
    <title>Templates</title>
    <style>
    h1{
    font-size:100px;
    text-align:center;
        text-shadow:5px 5px 5px red,10px 10px 10px blueviolet ;
        background-color:darkorange;
        border-radius: 50px;
    }
    h2{
    font-size:80px;
    text-align:center;
        text-shadow:5px 5px 5px pink,10px 10px 10px yellowgreen ;
        background-color:salmon;
        border-radius: 50px;
    }
    body{
        background-color: burlywood;
    }
   </style><body>
<h1>Welcome To DurgaSoft</h1>
<h2>It is good institute</h2>
</body>
</head>
</html>